* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  border-radius: 30px;
}

/* Dashboard */

.dashboard {
  width: 291px;
  border-radius: 30px 0px 0px 30px;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  justify-content: space-around;
  position: relative;
}

.dashboard .arrow {
  position: absolute;
  top: 70px;
  right: 0px;
}

.dashboard .arrow .arrowIcon {
  font-size: 20px;
  cursor: pointer;
  color: #6956e5;
}

.dashboard .teamify {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard .teamify p {
  font-size: 22px;
  font-weight: 700;
  color: #6956e5;
  line-height: 31px;
}

.dashboard ul {
  margin-bottom: 50px;
  list-style-type: none;
  width: 100%;
}

.dashboard ul li .link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  gap: 20px;
  text-decoration: none;
  color: #878787;
  margin-top: 10px;
}

.dashboard ul li .link:hover {
  color: #6956e5;
}

.hide {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 30px 0px 0px 30px;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
}

.hide .arrow {
  position: absolute;
  top: 78px;
  right: 0px;
}

.hide .arrow .arrowIcon {
  font-size: 20px;
  cursor: pointer;
  color: #6956e5;
}

.hide .teamify .img1 {
  display: none;
}

.hide .teamify .text {
  display: none;
}

.hide ul li p {
  display: none;
}

.hide ul li .link {
  color: #878787;
}

.hide ul li .link:hover {
  color: #6956e5;
}

.hide ul .myActive {
  color: #6956e5;
  cursor: pointer;
  /* font-weight: 700; */
}

.hide ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.hide .img9 {
  display: none;
}

/* Active */
#active {
  color: #6956e5;
  font-weight: bold;
}
/* ChildrenBox */

.childrenBox {
  width: 800px;
  height: 100vh;
}

/* Header */
.header {
  width: 800px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e6e8ec;
}

.header .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 15px;
}

.header .top h2 {
  font-size: 26px;
  color: #23262f;
  line-height: 40px;
}

.header .top p {
  color: #828282;
  font-size: 14px;
  line-height: 20px;
}

.header .middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* border: 1px solid; */
  width: 100%;
}

.header .middle .barChartBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e6e8ec;
  height: 344px;
  border-radius: 10px;
  padding: 25px;
  gap: 10px;
}

.header .middle .barChartBox .infoBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  /* height: 100px; */
}

.header .middle .barChartBox .infoBox .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /* width: 100px; */
}

.header .middle .barChartBox .infoBox .box p {
  font-size: 12px;
}

.header .middle .barChartBox .infoBox .box .first {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  background-color: #fabe7a;
  align-items: center;
  justify-content: center;
}

.header .middle .barChartBox .infoBox .box .second {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  background-color: #f6866a;
  align-items: center;
  justify-content: center;
}

.header .middle .barChartBox .infoBox .box .third {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  background-color: #59e6f6;
  align-items: center;
  justify-content: center;
}

.header .middle .barChartBox .infoBox .box .fourth {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  background-color: #7661e2;
  align-items: center;
  justify-content: center;
}

.header .middle .barChartBox p {
  font-size: 18px;
  line-height: 40px;
  color: #23262f;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.header .footer .img2 {
  width: 300px;
  border: 1px solid;
  height: 407px;
  border-radius: 10px;
}

/* RightSide */

.rightSide {
  border: 1px solid #e5f7ff;
  width: 24%;
  height: 100vh;
  border-radius: 0px 30px 30px 0px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.rightSide .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.rightSide .top .avatar {
  width: 50px;
  height: 50px;
}

.rightSide .top .icon {
  font-size: 25px;
}

.rightSide .top #icon {
  font-size: 15px;
}

.rightSide .middle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rightSide .middle .box h3 {
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0.1px;
}

.rightSide .middle .box h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.rightSide .middle .box h5 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #787486;
}

.rightSide .middle .box:nth-child(1) {
  width: 298px;
  height: 103px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff0e6;
}

.rightSide .middle .box:nth-child(2) {
  width: 298px;
  height: 103px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eceafe;
}

.rightSide .middle .box:nth-child(3) {
  gap: 10px;
  width: 298px;
  height: 103px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5f7ff;
}

.rightSide .footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.rightSide .footer .top {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.rightSide .footer .top h3 {
  font-size: 18px;
  line-height: 40px;
  color: #23262f;
  font-weight: 700;
}

.rightSide .footer .top p {
  font-size: 14px;
  line-height: 24px;
  color: #6956e5;
}

.rightSide .footer .box {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  background-color: #fff0e6;
  gap: 10px;
}

.rightSide .footer .box h4 {
  font-size: 12px;
  line-height: 16px;
  color: #23262f;
}

.rightSide .footer .box h5 {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #708099;
}

/* table */
.team-table {
  width: 95%;
  border: 1px solid #708099;
  height: 250px;
  margin: 300px auto;
  padding: 10px;
  border-collapse: collapse;
}

.team-table thead tr {
  background-color: #708099;
  color: white;
  height: 50px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.team-table tbody tr {
  border-bottom: 1px solid #708099;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}

.team-table tbody tr:hover {
  background-color: #e5f7ff;
  cursor: pointer;
}

.show {
  padding: 6px 12px;
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 6px;
  font-weight: 700;
  color: #6956e5;
  background-color: white;
  border: 1px solid #708099;
}

.show:hover {
  background-color: #708099;
  color: white;
}

.panthers {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* justify-content: center; */
}

.panthers table tr:hover {
  background-color: #e5f7ff;
  border-collapse: collapse;
}

.panthers table tr td {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  font-weight: 700;
}

.backstreetboys {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.backstreetboys table tr:hover {
  background-color: #e5f7ff;
  border-collapse: collapse;
}

.backstreetboys table tr td {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  font-weight: 700;
}

.dreamteam {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dreamteam table tr:hover {
  background-color: #e5f7ff;
  border-collapse: collapse;
}

.dreamteam table tr td {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  font-weight: 700;
}

.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.barChart {
  width: 100%;
  height: 100%;
}

.LineBox {
  border: 1px solid #e5f7ff;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border-radius: 12px;
}

.lineChart {
  width: 100%;
  height: 100%;
}
